@charset "UTF-8";

body		{
	background-color: #000000;
	margin: 0px;
	padding: 0px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #000000;
}

li {
	float: left;
}

li a {
	display: block;
	color: #EC4424;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

h4 a, p a {
	color: #EC4424;
	text-decoration: none;
}

li a:hover {
	background-color: #ffffff;
}

h1, h2 {
	color: #EC4424;
	font-size: 35px;
	font-family: serif;
	text-align: center;
	margin-top: 5px;
	
}

h3, h4, h5, h6 {
	color: #FFFFFF;
	font-size: 25px;
	font-family: serif;
	text-align: center;
	margin: 5%;
	padding: 5%;
}

.Title {
	margin: 10%;
	margin-top: 15%;
	font-size: 60px;
	align: left;
}

#Title5 {
	margin: 10%;
	margin-top: 15%;
	margin-bottom: 0%;
	font-size: 60px;
	align: left;
}

#SubTitle {
	color: #afafaf;
	margin-top: 0%;
	margin-bottom: 10%;
	font-size: 30px;
}

p {
	color: #B2B2B2;
	font-size: 20px;
	font-family: serif;
	text-align: center;
	font-weight: bold;	
}

#quote {
	color: #FFFFFF;
	font-size: 25px;
	font-family: serif;
	text-align: center;
	margin: 5%;
	margin-bottom: 0%;
	padding: 10%;
	padding-bottom: 0%;
}

#quote2 {
	color: #EC4424;
	font-size: 25px;
	font-family: serif;
	text-align: left;
	margin-top: 2%;
	padding: 10%;
	padding-top: 0%;
	padding-left: 20%;
	font-weight: bold;	
}

.Page2 {
	width: 49%;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
 	margin: 0px;
 	padding: 0%;
}


.Page2File {
	width: 90%;
  	margin: auto;
  	padding-bottom: 10%;
 
}


.Page3 {
	width: 45%;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
 	margin: 1%;
 	padding: 0%;
 	padding-bottom: 10%;
 	
}


.Page30 {
	width: 65%;
  	text-align: center;
 	margin: auto;
 	padding: 0px;
}


.Page3 p {
	padding: 5%;
	align: center;
}

#bigImage3 {
	width: 99.9%;
	margin: auto;
	border-radius: 15px;
}

.Images3 img {
	
	display: inline-block;
	width: 25%;
	margin: 3%;
	border-radius: 30px;
	
}

.Page3File {
	width: 90%;
  	margin: auto;
  	padding-bottom: 10%;
}

.Page4File {
	width: 90%;
  	margin: auto;
  	padding-bottom: 10%;
}

.Page4 {
	width: 29%;
	align: center;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
 	margin: 0 auto;
 	padding: 1%;
 	padding-bottom: 6%;

}

#Page4Pic img{
	display: inline-block;
	width: 40%;
	margin: 3%;
	border-radius: 30px;
}

.Pic4Page {
	display: inline-block;
	width: 60%;
	margin-left: 19%;
	margin-right: 19%;
	margin-bottom: 10%;
	margin-top: 6%;
	border-radius: 30px;
}

.Page5File {
	width: 99%;
  	margin: auto;
  	padding-bottom: 10%;
}

.Page5 {
	width: 45%;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
 	margin: 1%;
 	padding: 0%;
 	padding-bottom: 10%;
 	
}


#bigImage5 {
	width: 42%;
  	display: inline-block;
  	vertical-align: top;
 	margin: 1%;
 	padding: 0%;
 	padding-bottom: 10%;

}

.Page5 img {
	display: inline-block;
	width: 90%;
	margin: 3%;
	border-radius: 10px;
}

iframe {
	width: 1120px;
	height: 630px;
	align: center;
	margin: auto;
}

.bigImage {
	width: 80%;
	margin: auto;
	border-radius: 15px;
}

.homeFile {
  	width: 85%;
  	margin: 0 auto;
}

.home {
  	width: 49%;
  	text-align: center;
  	display: inline-block;
  	vertical-align: top;
 	margin: 0px;
 	padding: 0px;
}

.home h1 {
	padding-top: 35%;
}

.home img {
  	width: 80%;
  	margin: 0 auto;
}

.home0 img{

	width: 100%;
	margin: auto;
	align: center;
}

.home1 img{
	
	width: 100%;
	margin: auto;
	align: center;
}

.home2 {
	width: 80%;
	margin: auto;
}

#homeTimeln {
	width: 75%;
	height: 75%;
	align: center;
	padding-right: 12%;
	padding-left: 12%;
}

.Graph img {
	width: 10%;
	margin: 4%;
	margin-left: 25%;


}

#Sub {
	margin: auto;
	text-align: center;
}
label {
	
	color: #EC4424;
	display: inline-block;
	padding: 10px;
}


input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

.container {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}


footer {
	text-align: center;
	background-color: #000000;
	padding: 5px;
	color: #FFFFFF;
}